<div class="container">
	<div class="col-sm-3 col-md-2 sidebar">
		<ul class="list-group">
			<li id="planSearch" class="list-group-item disabled">Policy Search</li>
			<li id="basicInformation" class="list-group-item disabled">Claim Information</li>
			<li id="issues" class="list-group-item disabled">List Issues</li>
			<li id="confirmation" class="list-group-item disabled">Confirmation</li>
		</ul>
	</div>

	<div id="main-content-container" class="col-sm-9 col-md-8">
		<div class="row">
			<div id="main-content"></div>
		</div>
	</div>
</div>
